/* Common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.head-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.orenge {
    color: #FD6E0A;
}

.head-button {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    color: var(--dark-02, #474747);
    /* font-size: 20px; */
    /* font-weight: 400; */
    text-decoration: none;
}
/* header related style */
.header{
    background-color: rgb(251, 247, 242);
}
.banner{
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 150px;
}
.banner .photo{
    width: 500px;
}